/* 
    Tipo de tela	   Largura da tela (máx/min)
    Celular	           de 600px até 768px
    Tablet	           de 768px até 992px
    Desktop	           de 992px até 1200px
    Grandes telas	   acima de 1200px 
*/

@media (min-width: 768px) and (max-width: 992px) {
    main {
        height: 340px;
        width: 700px;
    }

    #tela-branca {
        height: 100%;
        width: 400px;
        right: 0;
        border-radius: 0 10px 10px 0;
    }
}

@media (min-width: 992px) {
    main {
        height: 340px;
        width: 900px;
    }

    #tela-branca {
        height: 100%;
        width: 500px;
        left: 0;
        border-radius: 10px 0 0 10px;
    }
}
