* {
    /* height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #337357, #6D9F71);
}

main {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #b4b3a7;
    width: 600px;
    margin: auto;
}

p {
    text-align: justify;
}

h1 {
   text-align: center;
   text-shadow: 2px 2px 2px #99378a;
   color: #CB48B7;
}

h2 {
    color: #2E2D4D;
}
